<div>
  <div class="navsale">
    <div class="sale">Get 10% off</div>
    <button class="track-order">Track Order</button>
    <button class="my-account">My Account</button>
  </div>
  <header>
    <h1>Example Shop</h1>
    <ul>
      <li>New</li>
      <li>Women</li>
      <li>Men</li>
      <li>Unicorns</li>
      <li>Kids</li>
      <li>Basket</li>
    </ul>
  </header>
  <div class="promotions">
   <ul>
    <li>Free 1 Year Return</li>
    <li>Students 10% Off</li>
    <li>Free Delivery</li>
   </ul>
   <div class="banner">Get 20% off on your next purchase</div>
  </div>
  <main>
    <div class="products">
      <img src="#" alt="I am a product" />
    </div>
  </main>
  <footer>
      Coded by
                  <a
                    href="//www.lunasmithart.com"
                    target="_blank"
                    aria-label="GitHub"
                  >
                     Luna Smith 
    </a>
                   open source on 
                  <a
                    href="https://github.com/Lu-Smith/shop-angular"
                    target="_blank"
                    aria-label="GitHub"
                  >
                    GitHub
    </a>.
  </footer>
</div>